* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "IBM Plex Mono" sans-serif;
}

header {
    background: #5300C8;
    color: #fff;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

header:hover {
    background:  #b8db68;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

main { 
    padding-top: 60px;
    padding-bottom: 60px;

}

h1 {
    display: flex;
    font-family: "Press Start 2P";
    margin-bottom: 8px;
    justify-content: center;
}


p {
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    text-align: center;
}

.productos-container  {  
    align-items: last baseline;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.card {
    background: #5300C8;
    color: #ffffff;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #000;
    align-items: center;
    top: 20px;
    left: 20px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.card:hover {
    background-color: #6591e9;
    color: #ffffff;
}

.card p {
    margin: 10px 10px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    border: 2px;
    gap: 8px;
    margin-bottom: 5px;
    border: 2px solid #000;
}

.mis-productos {
    align-items: center;
    text-align: center;
}

.productos {
    display: grid;
    width: 678px;
    height: auto;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 0px;
    padding: 20px;
    overflow: auto;
    gap: 25px;
    padding-top: 40px;
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.productos img {
    align-items: center;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.card-container--value img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.basura {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.basura:hover {
    background-color: #e50b36;
    color: #ffffff;
}


input {
    color: #03318c;
    font-family: "IBM Plex Mono";
    border-radius: 50px;
    width: 392px;
    height: 58px;
    border: 2px solid #03318c;
    margin-bottom: 15px;
    padding-left: 10px;
}


button {
    color: #03318c;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-weight: 500;
    width: 188px;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #03318c;
    color: #ffffff; 
    cursor: pointer;
}

.input-group ::placeholder,
.button-group ::placeholder,
#file-upload-button {
    color: #03318c;
    
    
}

.agregar-productos {
    padding-left: 50px;
    flex-direction: columna;
    
}

.guardar {
    background-color: #03318c;
    color: #fff;
    border: 2px solid #03318c;
    cursor: pointer;
}

.guardar:hover {
    background-color: #ffffff;
    color:  #03318c;
    border: 2px solid #03318c;
}

.limpiar {
    background-color: #ffffff;
    color: #03318c;
    border: 2px solid #03318c;
    cursor: pointer;
}

#form-producto {
    max-width: 400px;
}

#form-producto button {
    cursor: pointer;
}

footer {
    background: linear-gradient(rgb(195, 13, 201) 50%, rgb(7, 93, 230) 100%);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 44px 0;
}

footer p,
a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) and (max-width: 920px) {
    .container {
        display: flex;
        align-items: center;
        overflow: auto;
        text-align: center;
        flex-direction: column-reverse;
    }

    .productos {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 16px;
        text-align: center;

    }

    #form-producto {
        padding-bottom: 10px;
        width: Fixed (430px) px;
        height: 517px;
        padding: 40px 0px 0px 0px;
        gap: 40px;
        opacity: 0px;
    }
}

@media (max-width: 425px) {
    .container {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width:  90vw;
    }

    #form-producto {
        display: block;
        padding-bottom: 50px;
        width: 100%;
        margin: 20px;

        text-align: center;
    }
}